<% title "Top Plays" %>
<div class="row m-4">
  <h2 class="m-4"><%= t('top_plays.intro') %></h2>
  <%= render 'layouts/top_plays' %>

  <%= link_to t('global.back'), plays_path, class: "m-4  " %>
</div>
