/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
*/
/* mixins, variables, etc. */
@import 'bootstrap';
@import 'font-awesome';

//Page Structure
//html, body {
//  margin: 0;
//  height: 100%;
//  min-height: 100%;
//  background-color: #fefefe;
//}

body {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-bottom: 103px;
  font-family: Verdana, Tahoma, Helvetica;
}


footer {
  flex: none;
  position: static;
}

div#container {
  min-height: 100%;
  margin: 0 auto -80px;
  overflow: hidden;
}

* html div#container {
  overflow: visible;
  height: 100%;
}

.clear {
  clear: both;
}

//Jumbotron
.jumbotron {
  align-content: center;
  justify-items: center;
  align-items: center;
  color: white;

  padding: 2rem 1rem;

  margin-bottom: 2rem;

  border-radius: 0.3rem;


  background: #000064; /* old browsers fallback color*/

  background: -webkit-linear-gradient(to right, #1BADD8, #00003E);

  background: linear-gradient(to right, #1BADD8, #00003E);


}

//.hd1 {
//
//  color: #fff;
//
//}

#sticky-footer {
  margin-top: 15px;
}


/* Other Classes for Page Styling */
//FOOTER
#footer-content {
  flex: 1 0 auto;
  width: 100%;
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  position: fixed;
  bottom: 0;
}

.card {
  padding: 1px;
  height: 100%;
}

.card-deck .card {
  max-width: calc(25% - 30px);
}

.upload-icon {
  color: #6f42c1;
}

.vote-icon {
  color: #445588;

}


