<div class="row">
  <div class="col-sm-4">
    <% if !play.votes.empty? %>
      <small style="color: #ec4067;font-weight:bold"> <%= pluralize(local_assigns[:play].votes.count, 'Vote') %></small>
    <% end %>
  </div>
  <div class="col-sm-2">
    <%- if current_user -%>
      <%= button_to play_votes_path(local_assigns[:play]), id: 'vote-btn', class: 'btn btn-outline-light' do %>
        <%= fa_icon('thumbs-up', class: 'fa-2x vote-icon') %>
      <% end %>

    <% end %>
  </div>
</div>
